{% extends 'lab/base.html' %}

{% block header %}
    <script>
        let numDots = 1;
        let dots = '...';

        function updateLoading() {
            if (numDots === 4) {
                numDots = 1;
            }
            let loadingString = "Loading" + dots.substr(0, numDots);
            $('#loading').text(loadingString);
            numDots++;
        }

        $(document).ready(function () {
            updateLoading()
            setInterval(function () {
                updateLoading()
            }, 1000);
            setInterval(function () {
                window.location.replace("{% url 'lab:main_page' %}");
            }, (1000 * ((Math.random() * 1.5) + 3.85)));
        })
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row flex-align-center">
            <div class="cell-4 offset-4">
                <div data-role="cube"
                     data-color="#a5c90f" data-flash-color="#ffb366">
                </div>
            </div>
        </div>
        <div class="row flex-align-center">
            <div class="cell-2 offset-5">
                <div class="text-center">
                    <h3 id="loading"></h3>
                    <h4>Learning to Learn</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}