{% extends 'lab/base.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'lab/prism.css' %}">
    <script src="{% static 'lab/prism.js' %}"></script>
    <script>
        let MAX_LAYERS = 5;
        let MAX_INPUTS_OUTPUTS = 5;

        function getScript() {
            let inputElement = $('#numInputs');
            let outputElement = $('#numOutputs');
            let inputVal = parseInt(inputElement.val());
            let outputVal = parseInt(inputElement.val());

            if (inputVal > MAX_INPUTS_OUTPUTS) {
                inputVal = MAX_INPUTS_OUTPUTS;
                inputElement.val(MAX_INPUTS_OUTPUTS)
            }

            if (outputVal > MAX_INPUTS_OUTPUTS) {
                outputVal = MAX_INPUTS_OUTPUTS;
                outputElement.val(MAX_INPUTS_OUTPUTS)
            }

            let nodesPerLayer = []
            $('input[name="nodeLayerNum[]"]').each(function() {
                nodesPerLayer.push(Number.isInteger(parseInt($(this).val())) ? parseInt($(this).val()) : 2 )
            });

            $.post({
                    url: '{% url 'lab:post_scipt' %}', //TODO Change this URL
                    data: {
                        inputVal: Number.isInteger(inputVal) ? inputVal : 2,
                        outputVal: Number.isInteger(outputVal) ? outputVal : 2,
                        funcVal: $('#activationSelect').val(),
                        numNodesPerLayer: nodesPerLayer,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                    },
                    async: false,
                    success: function (data) {
                        $("#code").text(data.text)
                    }
                }
            )
            Prism.highlightAll()
        }

        function updateNumLayerInputs() {
            let element = $('#numLayers')
            let numLayers = parseInt(element.val());
            if (!Number.isInteger(numLayers)) {
                numLayers = 1;
            }
            if (numLayers > MAX_LAYERS) {
                numLayers = MAX_LAYERS;
                element.val(5)
            }
            let elements = '';
            for (let i = 1; i < numLayers + 1; i++) {
                elements += '<li class="pl-10 pr-7 py-2"><label for="numLayers' + i + '">Number of Nodes for Layer ' + i + ':</label><input type="number" id="numLayers' + i + '" name="nodeLayerNum[]" placeholder="2" min="1" max="5" onchange="getScript()"></li>'
            }
            $('#nodesPerLayer').html(elements);
        }

        $(document).ready(function () {
            setTimeout(function () {
                Metro.sidebar.open($('#sidebar-ele'))
            }, 250)
            updateNumLayerInputs();
            getScript();
            $('#numLayers').on("change keyup paste", function () {
                updateNumLayerInputs();
            })
            $('#numInputs, #activationSelect, #numOutputs').on("change keyup paste", function () {
                getScript();
            })
        })
    </script>
{% endblock %}

{% block body %}
    <aside id="sidebar-ele" class="sidebar pos-absolute z-2" data-role="sidebar" data-toggle="#sidebar-toggle-2"
           data-shift=".shifted-content">
        <div class="sidebar-header" data-image="{% static 'lab/sidebar.jpg' %}">
            <span class="title fg-white">My Interactive Neural Network Lab</span>
            <span class="subtitle fg-white">HackMIT 2020</span>
        </div>
        <ul class="sidebar-menu">
            <li class="pl-2 pr-7 py-2">
                <label for="activationSelect">Activation Function:</label>
                <select name="activationFunc" id="activationSelect">
                    {% for func, val in activation_functions.items %}
                        <option value="{{ val }}">{{ func }}</option>
                    {% endfor %}
                </select>
            </li>

            <li class="pl-2 pr-7 py-2">
                <label for="numInputs">Number of Inputs:</label>
                <input type="number" id="numInputs" name="numInputs" placeholder="2" min="1" max="5"></li>
            <li class="pl-2 pr-7 py-2">
                <label for="numOutputs">Number of Outputs:</label>
                <input type="number" id="numOutputs" name="numOutputs" placeholder="2" min="1" max="5"></li>
            <li class="pl-2 pr-7 py-2">
                <label for="numOutputs">Number of Hidden Layers:</label>
                <input type="number" id="numLayers" name="numLayers" placeholder="1" min="1" max="5">
            </li>
            <div id="nodesPerLayer"></div>
        </ul>
    </aside>
    <div class="shifted-content">
        <button class="button square pos-top-left" id="sidebar-toggle-2">
            <span class="mif-menu"></span>
        </button>
        <div>
            <pre>
                <code class="language-python" id="code">
                </code>
            </pre>
        </div>
    </div>
{% endblock %}